
/*aside*/

.authorsContent
{
    width: 300px;
    height: 200px;
    margin-left: 5px;
}

.authorsContent li
{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    width: 270px;
}

.authorsContent img{
    float: right;
    margin-bottom: 18.5px;
    margin-right: 200px;
}

.authorsContent div{
    margin-top: -280px;
    margin-left: 520px;
}

.perfilGit{
    display: flex;
}

.perfilNombre{
    float: right;
}

.perfilFoto{
    margin-left: 10px;
    float: left;
}


/*section*/

.section iframe{
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin-top: 20px;
}

.gif
{
    border-color: #1F2839;
    border-style: solid;
    border-width: 3px;
    color: white;
    width: 400px;
    height: 300px;
    background: url("Images/first.png") no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.gif:hover
{
    background: url("Images/move.gif") no-repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent; /* Change the background-color of table here */
  text-align: left; /* Change the text-alignment of table here */
}

th {
  font-weight: bold;
  border: 1px solid #cccccc; /* Change the border-color of heading here */
  padding: 8px;
}

td {
  border: 1px solid #cccccc; /* Change the border-color of cells here */
  padding: 8px;
}

/* Stylized */

/* Adding Striped Effect for odd rows */

tr {
  background-color: transparent; /* Change the default background-color of rows here */
}

tr:nth-of-type(2n+1) {
  background-color: #eeeeee; /* Change the background-color of odd rows here */
}

tr th {
  background-color: #dddddd; /* Change the background-color of heading here */
}

/* Adding Hover Effect for rows */

tr {
  -moz-transition: background-color 300ms ease-in-out 0s;
  -ms-transition: background-color 300ms ease-in-out 0s;
  -o-transition: background-color 300ms ease-in-out 0s;
  -webkit-transition: background-color 300ms ease-in-out 0s;
  transition: background-color 300ms ease-in-out 0s;
}

tr:hover {
  background-color: #fff176; /* Change the hover background-color of rows here */
}

/* Removing left and right border of rows for modern UIs */

tr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

th, td {
  border: none;
}


#bootstrapslide {
    color: black;
}


.mySlides {display: none;}

.imgslideshow {
    vertical-align: middle;
    width:100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display:block; 
  z-index: 2;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

h1.titleindex
{
    margin-left: 350px;
    text-align:center;
    clear: both;
    color: #1F2839;
    transition: 0.5s;
}